body {
    background: url(./images/gleise-1555348_1920.jpg)
}

 #jumbotron{
     opacity: 0.8;
     background-color: rgb(215, 244, 246)
}

#nav-info {
font-weight: bold;
}

#formContainer {
    opacity: 0.7;
    background: rgb(215, 244, 246)
} 
